h1{
	text-align: center
}

div.go{
	background-color: grey;
	margin:10px;
	height:200px;
	border: 2px solid black;
}

h5{
	color:white;
		float:right;
	padding:3px;
	border:2px solid black;
}



p{
	clear:right;

}